# Crap
.DS_Store

# Composer
composer.lock
vendor/

# Wordpress
.htaccess
wordpress/
wp-content/themes/scaffold/
wp-content/themes/scaffold-child/
wp-content/upgrade

# Ghost
!ghost/
ghost/*
!ghost/content
!ghost/config.js

# Codekit
codekit-config.json