# Crap
.DS_Store

# Composer
composer.lock
vendor/

# Wordpress
.htaccess
wordpress/
wp-content/vendor
wp-content/themes/scaffold/
wp-content/themes/scaffold-child/
wp-content/upgrade

# Codekit
codekit-config.json